<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
	<!-- 设置ico标签栏logo图标 -->
	<link rel="icon" href="img/logo/blueWhaleLogo1.5.png"/>
    <title>Blue Whale</title>

    <head th:include="include/includebase" />
    <link th:href="@{/bootstrap-3.3.7/css/cover.css}" rel="stylesheet"/>
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
	<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix" style="position:absolute;z-index:12;">
          	<div style="margin:12px 20px"><h2 class="masthead-brand" >Blue Whale</h2></div>
            <div class="inner" style="width:90%">
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/bluewhale">Home</a></li>
                  <li><a href="/bluewhale/menu">Daily</a></li>
		              <!-- <a href="/bluewhale/menu" class="dropdown-toggle" data-toggle="dropdown">
		                  Features
		                  <b class="caret"></b>
		              </a>
		          </li> -->
		          
                  <li><a href="/bluewhale/config">Config</a></li>
                  <li><a href="/bluewhale/contact">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner " style="margin-bottom: 0">
            <!-- <h1 class="cover-heading">Cover your page.</h1>
            <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Learn more</a>
            </p> -->
            <div id="myCarousel" class="carousel slide" style="height: 450px;width: 60%;float:left">
			    <!-- 轮播（Carousel）指标 -->
			    <ol class="carousel-indicators">
			        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			        <li data-target="#myCarousel" data-slide-to="1"></li>
			        <li data-target="#myCarousel" data-slide-to="2"></li>
			        <li data-target="#myCarousel" data-slide-to="3"></li>
			    </ol>   
			    <!-- 轮播（Carousel）项目 -->
			    <div class="carousel-inner" >
			        <div class="item active" >
			            <img src="img/slide/slide0.jpg" alt="First slide" style="height: 450px;width: 100%">
			        </div>
			        <div class="item" >
			            <img src="img/slide/slide1.jpg" alt="Second slide" style="height: 450px;width: 100%">
			        </div>
			        <div class="item" >
			            <img src="img/slide/slide2.jpg" alt="Third slide" style="height: 450px;width: 100%">
			        </div>
			        <div class="item" >
			            <img src="img/slide/slide3.jpg" alt="Fourth slide" style="height: 450px;width: 100%">
			        </div>
			    </div>
			    <!-- 轮播（Carousel）导航 -->
			    <a class="carousel-control left" href="#myCarousel" 
			       data-slide="prev"> <span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span></a>
			    <a class="carousel-control right" href="#myCarousel" 
			       data-slide="next"> <span _ngcontent-c3="" aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a>
		    </div>
		    
		    <div style="height: 450px;width: 35%;float:right">
		    	
		    	<form action="/signIn" id="signInForm">
		    		<h2>Sign In</h2>
					<div class="form-group">
						<label for="username" class="sr-only">Username</label>
						<input type="text" class="form-control" id="username" placeholder="Username" autocomplete="off">
					</div>
					<div class="form-group">
						<label for="password" class="sr-only">Password</label>
						<input type="password" class="form-control" id="password" placeholder="Password" autocomplete="off">
					</div>
					<div class="form-group">
						<label for="remember"><input type="checkbox" id="remember"> Remember Me</label>
					</div>
					<div class="form-group">
						<p>Not registered? <a href="#" onclick="pageJump('signUp')">Sign Up</a> | <a href="#" onclick="pageJump('forgot')">Forgot Password?</a></p>
					</div>
					<div class="form-group">
						<input type="submit" value="Sign In" class="btn btn-primary">
					</div>
				</form>
				<form action="/signUp" style="display:none" id="signUpForm">
					<h2>Sign Up</h2>
					<div class="form-group">
						<label for="name" class="sr-only">Name</label>
						<input type="text" class="form-control" id="name" placeholder="Name" autocomplete="off">
					</div>
					<div class="form-group">
						<label for="email" class="sr-only">Email</label>
						<input type="email" class="form-control" id="email" placeholder="Email" autocomplete="off">
					</div>
					<div class="form-group">
						<label for="password" class="sr-only">Password</label>
						<input type="password" class="form-control" id="password" placeholder="Password" autocomplete="off">
					</div>
					<div class="form-group">
						<label for="re-password" class="sr-only">Re-type Password</label>
						<input type="password" class="form-control" id="re-password" placeholder="Re-type Password" autocomplete="off">
					</div>
					<div class="form-group">
						<p>Already registered? <a href="#" onclick="pageJump('signIn')">Sign In</a></p>
					</div>
					<div class="form-group">
						<input type="submit" value="Sign Up" class="btn btn-primary">
					</div>
				</form>
				<form action="/forgot" style="display:none" id="forgotForm">
					<h2>Forgot Password</h2>
					<div class="form-group" id="fotgotTip" style="display:none">
						<div class="alert alert-success" role="alert">Your email has been sent.</div>
					</div>
					<div class="form-group">
						<label for="email" class="sr-only">Email</label>
						<input type="email" class="form-control" id="email" placeholder="Email" autocomplete="off">
					</div>
					<div class="form-group">
						<p><a href="#" onclick="pageJump('signIn')">Sign In</a> or <a href="#" onclick="pageJump('signUp')">Sign Up</a></p>
					</div>
					<div class="form-group">
						<input type="submit" value="Send Email" class="btn btn-primary">
					</div>
				</form>
		    </div>
          </div>
          

          <div class="mastfoot">
            
            <div class="inner">
              <hr />
              <p> ©2019-2020 BlueWhale.Inc All Rights Reserved</p>
            </div>
          </div>

        </div>

      </div>

    </div>
	
  </body>
  <script type="text/javascript" src="js/index.js"></script>
</html>